.love {
  color: var(--button-active);
}

#sponsors {
  
  text-align: center;

  > a img {
    max-width: 50%;
    // margin: 0.5rem;
  }

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width:3rem;
      height:auto;
    }
  }
}